
body {
  font-family: 'Montserrat', Arial, sans-serif;
  background: #041E42;
  height: 100vh;
  margin: 20px 0 50px;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #052553;
  text-align: left;
  padding: 8px;
}

th {
  background-color: rgb(109, 38, 241);
}

h2 {
  text-align: center;
}

button {
  border-radius: 20px;
  border: 1px solid #39088f;
  background-color: #002244;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:hover {
  background-color: #004687;
  transition: 2s;
}

/* table{
  margin: 15px;
 
} */


